<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-row class="ion-justify-content-center">
    <ion-col size="4">
      <ion-button expand="full" shape="round" class="primary-color">
        Desenvolvimento de Sistemas 
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center>
    <ion-col size="4" shape="round" class="secondary-color">
      <ion-button expand="full">
        Informatica Para Internet
      </ion-button>
    </ion-col>
  </ion-row>
    

  <ion-row class="ion-justify-content-center>
    <ion-col size="4">
      <ion-button expand="full" shape="round" class="tertiary-color">
        quimica
      </ion-button>
    </ion-col> 
  </ion-row>
    
</ion-content>